<% if notice %>
<div class="alert alert-primary position-fixed w-100" role="alert">
  <%= notice %>
</div>
<% end %>

<% if alert %>
<div class="alert alert-danger position-fixed w-100" role="alert">
  <%= alert %>
</div>
<% end %>
