<% if !current_user %>
  <main class="container">
    <div class="bg-light p-5 rounded">
      <h1>Short links, big results</h1>
      <p class="lead">You can play with below testing account</p>
      <p class="lead">email: example@example.com</p>
      <p class="lead">password: password!</p>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-lg btn-primary" %>
    </div>
  </main>

<% else %>
  <%= render partial: 'users/shared/create_url_mappings' %>
  <%= render partial: 'users/shared/url_mappings' %>
<% end %>
